.circleContainer{
    display: flex;
    gap: 2rem;
    padding: 20px;
    border: 1px solid rgb(237, 232, 232);
    width: 55%;
    height:150px;
    margin: auto;
    background-color: #172329;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;;
    margin-top: 50px;
    
}
.circleContainer > div {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   border: 1px solid white;
}