.cardContainer{
    width: 60%;
    margin: auto;
    display: flex;
    gap: 2rem;
    padding: 20px 20px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.imageContainer>img{    
    height: 180px;
    width: 180px;
    padding: 5px 15px;
}
