.link{
    display: flex;
    gap: 45rem;
    font-size: 25px;
    padding: 10px;;
    background-color: rgb(24, 94, 199);
}
.link >div:nth-child(1){
    display :flex;
    gap:2rem;
   
}
.link>div:nth-child(2){
    display: flex;
    gap:2rem;
    
}
.homeIcon{
    width: 50px;
    height:50px;
    border-radius: 25px;
}