.tasks{
  background-color: black;
  color: white;
  margin-top: 0;
  font-size: 50px;
}
.input{
  height: 50px;
  width: 400px;
  border-radius: 25px;
  border:none;
  margin-bottom: 40px;
  font-size:25px;
  background-color: black;
  color: white;

}
.button{
  width: 70px;
  height: 70px;
  margin-left: 30px;
  font-size: 50px;
  
  border: none;
 
  background-color: black;
  color: white;
  border-radius: 40px
}

.list{
  font-size: 30px;
  color: white;
  border: 1px solid rgb(243, 236, 236);
  background-color: black;
  width: 400px;
  margin: auto;
  margin-bottom: 30px
}